/* style.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00204A; /* Ubah warna latar belakang */
  color: white; /* Ubah warna teks */
}

header {
  background-color: #FF7A00; /* Ubah warna header */
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white; /* Ubah warna teks menu */
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00204A; /* Ubah warna teks menu saat dihover */
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

.box {
  background-color: rgba(255, 255, 255, 0.1); /* Ubah warna box dengan transparansi */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

footer {
  background-color: #FF7A00; /* Ubah warna footer */
  padding: 20px 0;
  text-align: center;
}
