/* style.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; /* Warna latar belakang putih */
  color: #000000; /* Warna teks hitam */
}

header {
  background-color: #FF7A00; /* Warna latar belakang header oranye */
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #FFFFFF; /* Warna teks menu putih */
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00204A; /* Warna teks menu saat dihover biru tua */
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

.box {
  background-color: rgba(255, 255, 255, 0.9); /* Warna latar belakang box putih dengan sedikit transparansi */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #FF7A00; /* Warna ornamen */
  border-radius: 50%;
  animation: ornamen 2s linear infinite alternate;
}

.box::before {
  left: -10px;
  animation-delay: 0.5s;
}

.box::after {
  right: -10px;
}

@keyframes ornamen {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

footer {
  background-color: #FF7A00; /* Warna latar belakang footer oranye */
  padding: 20px 0;
  text-align: center;
}
