/* style.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #008000; /* Warna latar belakang hijau */
  color: #000000; /* Warna teks hitam */
}

header {
  background-color:  #191970; /* Warna latar belakang header biru tua */
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff; /* Warna teks menu putih */
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #964B00; /* Warna teks menu saat dihover oranye */
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

.box {
  background-color: #964B00; /* Warna latar belakang box oranye */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

footer {
  background-color: #00BFFF; /* Warna latar belakang footer biru tua */
  padding: 20px 0;
  text-align: center;
}

.sun {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ffdb58; /* Warna kuning untuk matahari */
    border-radius: 50%;
    animation: rotateSun 10s linear infinite; /* Animasi putaran matahari */
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    ); /* Bentuk matahari yang bergerigi */
}

@keyframes rotateSun {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); /* Putar matahari 360 derajat */
    }
}
